
.border {
  border: solid;
}

.fullHeightCard {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px !important;
  height: 100%;
  position: relative;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
}

.header {
  display: flex;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overlay>h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.overlay>h2 {
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
}

.locationText {
  font-size: 11px !important;
  font-weight: 500 !important;
  margin-top: 5px !important;
  text-transform: capitalize;
}

.estimatedSalary {
  font-size: 14px;
  font-weight: 400;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardContent > p, .expandedClassContent p {
  margin: 0px;
  line-height: 1.5;
  letter-spacing: unset;
  font-size: 14px;
  text-align: start;
}

.expandedClassContent p {
  color: rgba(0, 0, 0, 0.87);
}
/*.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
} */

.grid {
  display: flex;
}

.details {
  display: flex;
  margin-top: 5px;
  margin-left: 20px;
}

.title {
  padding: 0 16px;
}

.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.applyButton {
  background-color: rgb(85, 239, 196) !important;
  line-height: 2.75 !important;
}

.referalAsk {
  background-color: rgb(73, 67, 218) !important;
}

.imageDiv {
  padding: 8px;
}